/* https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd */

*
{
  margin:0;
  padding:0;
}

html {
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #1B263B;
    color: #778DA9;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background-color: #0D1B2A;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 9999;
}

.header h1 {
    font-size: 3.5rem;
    color: #E0E1DD;
    margin-left: 50px;
    padding: 20px 0;
}

.nav-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    
}

.nav__links {
    display: flex;
    
    padding: 20px;
    font-size: 2rem;
    
}

.nav__links li a {
    padding: 20px;
    color: #778DA9;
}

.nav__links li a:hover {
    border-bottom: 2px solid #E0E1DD;
}


.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    
    
}

.hero__info {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px;
    margin-right: 100px;
}

.hero__info h2 {
    font-size: 3rem;
    color: #E0E1DD;
    text-align: left;

}

.hero__info p {
    font-size: 1.6rem;
    text-align: left;
}


.hero__img {
    size: 100%;
    object-fit: cover;
    margin-left: 100px;
}

.hero__img img {
    border-radius: 20px;
    
}

.projects {
    width: 100%;
    
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projects__info {
    width: 544px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* padding: 10px 50px; */
    /* margin-right: 100px;
    padding-right: 50px; */
    margin-right: 5px;
    padding: 0 30px;
}

.projects__info h2 {
    font-size: 3rem;
    color: #E0E1DD;
    text-align: left;
}

.projects__info p {
    font-size: 1.6rem;
    text-align: left;
}

.projects__img {
    width: 400px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 125px;
    
}

.projects img {
    border-radius: 20px;
    opacity: 0.8;
}

.projects img:hover {
    opacity: 1;
}

.contact {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact__info {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.contact__info h2 {
    font-size: 3rem;
    color: #E0E1DD;
    text-align: left;
}

.contact__info p {
    font-size: 1.6rem;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: #E0E1DD;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
}

input[type=text] {
    width: 500px;
    height: 20px;
    background-color: #0D1B2A;
    color: #E0E1DD;
}

form textarea {
    width: 500px;
    height: 140px;
    background-color: #0D1B2A;
    color: #E0E1DD;
}

input[type=text] textarea:focus{
    border: 1px solid #E0E1DD;
}

input[type=text], textarea {
    border-radius: 10px;
    border-style: none;
}

form button {
    border-radius: 10px;
    border-style: none;
    margin: 20px 0;
    padding: 10px 5px;
    font-size: 1.2rem;
    background-color: #0D1B2A;
    color: #E0E1DD;
}

form button:hover {
    cursor: pointer;
    border: 1px solid #E0E1DD;
}

.socials {
    margin: 0 40px;
}

.socials img {
    width: 150px;
    height: 150px;
    filter: invert(100%);
    opacity: .8;
}

.socials img:hover {
    opacity: 1;
}


@media screen and (max-width: 1024px) {
    
    body {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .header {
        position: static;
    }
    
    .header h1 {
        margin: 10px;
    }
    
    .nav__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero__info {
        margin: 0;
        text-align: center;
        
    }

    .hero__info h2, .hero__info p {
        text-align: center;
    }

    .hero__img {
        margin-right: 65px;
    }

    .projects {
        flex-direction: column;
    }

    .projects__info {
        height: 120px;
        width: 610px;
        
        
    }

    .projects__info h2, .projects__info p {
        text-align: center;
    }
    
    .projects__img {
        margin: 0;
    }

    .contact {
        flex-direction: column;
        margin-top: 100px;
        
    }

    .contact__info {
        margin-bottom: 30px;
    }

    .contact__info h2, .contact__info p {
        text-align: center;
    }

    .form {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    
    .projects__info {
        width: 300px;
    }
}

@media screen and (max-width: 550px) {

    
    body {
        width: 100vw;
    }
    
    input[type=text] {
        width: 300px;
    }

    form textarea {
        width: 300px;
    }

    .socials img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 500px) {

    
    

    
    header {
        display: flex;
        flex-direction: column;
    }

    .header h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .hero__img img {
        width: 300px;
        height: 300px;
    }

    .nav__links {
        font-size: 1.5rem;
    }

    .hero__info h2, .projects__info h2, .contact__info h2 {
        font-size: 2.2rem;
    }

    .hero__info p, .projects__info p, .contact__info p {
        font-size: 1.4rem;
    }

    .run-buddy img {
        width: 300px;
    }

    .horeiseon img {
        width: 200px;
        height: 91px;
    }

    .meet img {
        width: 200px;
    }
}

