/* https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd */

*
{
  margin:0;
  padding:0;
}

html {
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #1B263B;
    color: #778DA9;
    margin: 0;
    padding: 0;
    
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background-color: #0D1B2A;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0;
}

.header h1 {
    font-size: 3.5rem;
    color: #E0E1DD;
    margin-left: 50px;
    padding: 20px 0;
}

.nav-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    
}

.nav__links {
    display: flex;
    
    padding: 20px;
    font-size: 2rem;
    
}

.nav__links li a {
    padding: 20px;
    color: #778DA9;
}


.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    
    
}

.hero__info {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px;
    
}

.hero__info h2 {
    font-size: 3rem;
    color: #E0E1DD;
    text-align: left;

}

.hero__info p {
    font-size: 1.6rem;
    text-align: left;
}


.hero__img {
    
    object-fit: cover;
    
}

.hero__img img {
    border-radius: 20px;
    
}

.projects {
    width: 100%;
    
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projects__info {
    width: 544px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* padding: 10px 50px; */
    /* margin-right: 100px;
    padding-right: 50px; */
    margin-left: 130px;
    padding: 0;
}

.projects__info h2 {
    font-size: 3rem;
    color: #E0E1DD;
    text-align: left;
}

.projects__info p {
    font-size: 1.6rem;
    text-align: left;
}

.projects__img {
    width: 400px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    
}

.projects img {
    border-radius: 20px;
    opacity: 0.8;
}

.projects img:hover {
    opacity: 1;
}